# Python-related
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Operating System Files
.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/

# Potential API keys or secrets
*.env

# Microsoft Office temporary files
~$*.doc*
~$*.xls*
~$*.ppt*

# Logs
*.log
